:root {
    --rc-bg: 250 250 250;
    --c-bg: rgb(250 250 250);
    --rc-antibg: 35 35 35;
    --c-antibg: rgb(35 35 35);
    --rc-text: 28 28 30;
    --c-text: rgb(28 28 30);
    --rc-antitext: 250 250 250;
    --c-antitext: rgb(250 250 250);
    --rc-gray1: 229 229 234;
    --c-gray1: rgb(229 229 234);
    --rc-gray2: 199 199 204;
    --c-gray2: rgb(199 199 204);
    --rc-gray3: 174 174 178;
    --c-gray3: rgb(174 174 178);
    --rc-gray4: 142 142 147;
    --c-gray4: rgb(142 142 147);
    --rc-gray5: 99 99 102;
    --c-gray5: rgb(99 99 102);
    --rc-gray6: 72 72 74;
    --c-gray6: rgb(72 72 74);
    --rc-gray7: 58 58 60;
    --c-gray7: rgb(58 58 60);
    --rc-blue: 0 122 255;
    --c-blue: rgb(0 122 255);
    --rc-blue-active: 0 150 255;
    --c-blue-active: rgb(0 150 255);
    --rc-antiblue: 10 132 255;
    --c-antiblue: rgb(10 132 255);
    --rc-antiblue-active: 10 160 255;
    --c-antiblue-active: rgb(10 160 255);

    --rc-lbg: 250 250 250;
    --c-lbg: rgb(250 250 250);
    --rc-dbg: 35 35 35;
    --c-dbg: rgb(35 35 35);
    --rc-ltext: 250 250 250;
    --c-ltext: rgb(250 250 250);
    --rc-dtext: 28 28 30;
    --c-dtext: rgb(28 28 30);
    --rc-grayl3: 229 229 234;
    --c-grayl3: rgb(229 229 234);
    --rc-grayl2: 199 199 204;
    --c-grayl2: rgb(199 199 204);
    --rc-grayl1: 174 174 178;
    --c-grayl1: rgb(174 174 178);
    --rc-gray: 142 142 147;
    --c-gray: rgb(142 142 147);
    --rc-grayd1: 99 99 102;
    --c-grayd1: rgb(99 99 102);
    --rc-grayd2: 72 72 74;
    --c-grayd2: rgb(72 72 74);
    --rc-grayd3: 58 58 60;
    --c-grayd3: rgb(58 58 60);
    --rc-lblue: 0 122 255;
    --c-lblue: rgb(0 122 255);
    --rc-lblue-active: 0 150 255;
    --c-lblue-active: rgb(0 150 255);
    --rc-dblue: 10 132 255;
    --c-dblue: rgb(10 132 255);
    --rc-dblue-active: 10 160 255;
    --c-dblue-active: rgb(10 160 255);

    --rc-black: 0 0 0;
    --c-black: rgb(0 0 0);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --rc-bg: 35 35 35;
        --c-bg: rgb(35 35 35);
        --rc-antibg: 250 250 250;
        --c-antibg: rgb(250 250 250);
        --rc-text: 250 250 250;
        --c-text: rgb(250 250 250);
        --rc-antitext: 28 28 30;
        --c-antitext: rgb(28 28 30);
        --rc-gray1: 58 58 60;
        --c-gray1: rgb(58 58 60);
        --rc-gray2: 72 72 74;
        --c-gray2: rgb(72 72 74);
        --rc-gray3: 99 99 102;
        --c-gray3: rgb(99 99 102);
        --rc-gray4: 142 142 147;
        --c-gray4: rgb(142 142 147);
        --rc-gray5: 174 174 178;
        --c-gray5: rgb(174 174 178);
        --rc-gray6: 199 199 204;
        --c-gray6: rgb(199 199 204);;
        --rc-gray7: 229 229 234;
        --c-gray7: rgb(229 229 234);
        --rc-blue: 10 132 255;
        --c-blue: rgb(10 132 255);
        --rc-blue-active: 10 160 255;
        --c-blue-active: rgb(10 160 255);
        --rc-antiblue: 0 122 255;
        --c-antiblue: rgb(0 122 255);
        --rc-antiblue-active: 0 150 255;
        --c-antiblue-active: rgb(0 150 255);
    }
}