/* 기본 라이트 테마 */
:root,
:root[data-theme="light"] {
    --c-bg: #FAFAFA;
    --c-text: #1C1C1E;
    --c-ltext: #FAFAFA;
    --c-dtext: #1C1C1E;
    --c-dbg: #FFFFFF;
    
    --c-gray1: #E5E5EA;
    --c-gray2: #C7C7CC;
    --c-gray3: #AEAEB2;
    --c-gray4: #8E8E93;
    --c-gray5: #636366;
    --c-gray6: #48484A;
    --c-gray7: #3A3A3C;
    
    --c-blue: #007AFF;
    --c-blue-active: #0096FF;
}

/* 다크 테마 */
:root[data-theme="dark"] {
    --c-bg: #232323;
    --c-text: #FAFAFA;
    --c-ltext: #FAFAFA;
    --c-dtext: #1C1C1E;
    --c-dbg: #2C2C2E;
    
    --c-gray1: #3A3A3C;
    --c-gray2: #48484A;
    --c-gray3: #636366;
    --c-gray4: #8E8E93;
    --c-gray5: #AEAEB2;
    --c-gray6: #C7C7CC;
    --c-gray7: #E5E5EA;
    
    --c-blue: #0A84FF;
    --c-blue-active: #0AA0FF;
}

@media print {
    :root {
        --c-lbg: white;
        --c-ltext: white;
        --c-bg: light-dark(white,rgb(35 35 35));
        --c-antibg: light-dark(rgb(35 35 35),white);
        --c-text: light-dark(rgb(28 28 30),white);
        --c-antitext: light-dark(white,rgb(28 28 30));
    }
}